.header{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    background: white;
}

#logo {
    color: blue;
}
.header_1{
  display: flex;
  color: gray;
}

.header_2{
    display:flex;
    color: gray;
}


.image_section{
    display:flex;
    justify-content: center;
    background-image: url("https://www.cs.huji.ac.il/~danix/itm/Bansai/Bansai-warm.jpg");
    height: 400px;
    
}
#img_title{
    color: white;
    display:flex;
    justify-content: center;   
}
.img_ad{
    color: white;
    display:flex;
    justify-content: center;   
}

.img_link{
    display:flex;
    justify-content: center;
    background: white;   
}


.featured-products-title {
    display: flex;
    justify-content: center;
}
.main-featured-products {
    display: flex;
    justify-content: space-around;
}

.featured-product{
    display: flex;
    flex-direction: column;
}

#left {
    justify-content: center;
    align-items: center;

}

#right {
    justify-content: center;
    align-items: center;
}

.shop-now {
    border: black solid 1px;
}

.secondary-products {
    display: flex;
    justify-content: center;
}
.secondary-products > div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
 .footer-button {
    display: flex;
    justify-content: center;
 }


